<div id="admin">
  <h1>Timer</h1>
  <h2><a href="/admin">Back</a></h2>

  <p>
    Status: <%= Timer.instance.status %> <br>
  </p>

  <ul>
    <% if Timer.instance.status == "cleared" %>
    <li>
      <%= text_field_tag :time, "24:00:00" %> <br>
      <%= link_to "Start", timer_url(command: "start"), method: "patch", id: 'start_timer' %>
    </li>
    <% end %>
    <% if Timer.instance.status == "started" %>
    <li>
      <%= link_to "Stop", timer_url(command: "stop"), method: "patch", data: { confirm: "Why?! Are you sure?" } %>
    </li>
    <li>
      <%= link_to "Pause", timer_url(command: "pause"), method: "patch" %>
    </li>
    <% end %>
    <% if Timer.instance.status == "paused" %>
    <li>
      <%= text_field_tag :time, Timer.instance.remaining.strftime("%H:%M:%S") %> <br>
      <%= link_to "Resume", timer_url(command: "resume"), method: "patch", id: 'start_timer' %>
      <%= link_to "Stop", timer_url(command: "stop"), method: "patch", data: { confirm: "Why?! Are you sure?" } %>
    </li>
    <% end %>
    <% if Timer.instance.status == "ended" %>
    <li>
      <%= link_to "Reset", timer_url(command: "reset"), method: "patch" %>
    </li>
    <% end %>
  </ul>
</div>